INSERT INTO system.offline_sync_state (id, \
entityType\, \lastPullAt\, \lastPushAt\, \totalItemsSynced\) VALUES ('default-sync', 'all-data', NOW(), NOW(), 0) ON CONFLICT (\entityType\) DO UPDATE SET \lastPullAt\ = EXCLUDED.\lastPullAt\, \lastPushAt\ = EXCLUDED.\lastPushAt\;
